executor {
    name = 'local'
    cpus = 32
    memory = '120 GB'
}

docker {
  enabled = true
  sudo = true
}

conda.enabled = true

process {
    withName: 'trimmomatic' {
        cpus = 4
    }
    withName: 'fastqc' {
        cpus = 4
    }
    withName: 'unicycler' {
        cpus = 16
    }
    withName: 'bakta' {
        cpus = 8
    }
    withName: 'quast' {
        cpus = 8
    }
    withName: 'gtdbtk' {
        cpus = 24
    }
    withName: 'checkm' {
        cpus = 24
    }
}

params {
    trimmomatic_adapters = "${projectDir}/trimmomatic-adapters/NexteraPE-PE.fa"
    raw_fastq = "${projectDir}/raw-fastq-files/illumina-fastq/*{_1,_2}.fastq.gz"
    bakta_db = "/media/user/DATA/bakta-dbs/db"
}
